djangorestframework
django-cors-headers
python-dotenv
openai
google-genai
deepseek-sdk
PyMuPDF
python-jose
psycopg[binary]
dj-database-url
langchain
langchain-chroma
langchain-core
langchain-google-genai
langchain-text-splitters
